$colour-bg-dark: #47586d;
$colour-bg-light: #fefefe;
$colour-button-text: white;
$colour-text-light: #fefefe;
$colour-text-dark: #555;
$colour-accent: #de6e5c;

$button-width: 1.875em;
$button-height: 0.165em;
$font-size-h2: 1.875em;


.dark-slider {
  background: $colour-text-light;
  #slider {
    padding-bottom: 4.5em;
    padding-top: 3.5em;
  }
  .flickity-page-dots .dot {
    background: $colour-bg-dark;
  }
}

.light-slider {
  .flickity-page-dots .dot {
    background: #fefefe;
  }
}

#slider-container {
  width: 100%;
  padding: 0;
  overflow: hidden;
  section {
    //background: transparent;
  }
}

#slider {
  padding: 2em 0;
  //width: 100vw;
  //position: relative;
  //left: 50%;
  //right: 50%;
  //margin-left: -50vw;
  //margin-right: -50vw;
  background: transparent;
  .carousel {
  //  background: #38485b;
    background: transparent;
  }
  .carousel-cell {
    width: 50%;
    height: initial;
    //background: #38485b;
    background: transparent;
    padding: 0 1em;
  }
  .carousel-cell-image {
    display: block;
    //max-height: 100%;
    margin: 0 auto;
    max-width: 100%;
  }
  .flickity-prev-next-button {
    background: $colour-accent;
  }
  .flickity-prev-next-button.next {
    right: 1.5em;
  }
  .flickity-prev-next-button.previous {
    left: 1.5em;
  }
  .flickity-prev-next-button .arrow {
    fill: #fefefe;
  }
}

.design-button {
  //background: $colour-accent;
  border: 2px solid $colour-accent;
  letter-spacing: 0.1em;
  //color: $colour-button-text;
  color: #e69045;
  text-transform: uppercase;
  padding: 1em;
  display: inline-block;
  margin-top: 1em;
  font-weight: 800;
  font-size: 1em;
  transition: all 0.25s;
  &:hover {
    text-decoration: none;
    background-color: $colour-accent;
    color: white;
  }
}
