@media screen and (max-width: 64em) {
  html body main {
      #projects #projects-list article {
        width: 100%;
        margin-right: 0;
        .img-container {
          height: initial;
          img {
            height: initial;
          }
        }
      }
      #blog-list {
        article {
          flex-wrap: wrap-reverse;
          flex-direction: row-reverse;
          .main-info {
            width: 100%;
          }
          .img-container {
            height: 15em;
            width: 100%;
          }
        }
      }
  }
}


@media screen and (max-width: 48em) {
  html body {
    main {
      #intro {
        padding-bottom: 2em;
        #bold-title {
          font-size: 2.6em;
        }
        #catchphrase {
          font-size: 1.875em;
        }
      }
      #slider .carousel-cell {
        width: 100%;
      }
      #projects #projects-list {
        margin-top: 1em;
          article {
            width: 100%;
            margin-right: 0;
            &:first-child {
              margin-top: 1em;
            }
          }
      }
    }
    footer {
      ul li {
        margin-bottom: 1.25em;
        a {
          padding: 0.4em 0.6em;
        }
      }
    }
  }
}

@media screen and (max-width: 32em) {
  html body {
    main {
      #design-meta {
        ul {
          width: 100%;
        }
      }
      section {
        padding: 3em 1em;
      }
      h2 {
        font-size: 1.6em;
      }
      h3 {
        font-size: 1.6em;
      }
      h4 {
        font-size: 1.4em;
      }
      p {
        font-size: 1.1em;
      }
      #intro {
        #catchphrase {
          font-size: 1.6em;
        }
      }
      #projects #projects-list article .main-info {
        margin-top: 0;
      }
      #blog-list {
        .main-info h2 {
          margin-top: 0;
        }
      }
    }
  }
}
