$colour-bg-dark: #47586d;
$colour-bg-light: #fefefe;
$colour-button-text: white;
$colour-text-light: #fefefe;
$colour-text-dark: #555;
$colour-accent: #de6e5c;

$button-width: 1.875em;
$button-height: 0.165em;
$font-size-h2: 1.875em;

@mixin button-span {
  height: $button-height;
  width: $button-width;
  background-color: white;
  display: block;
  transition: all .2s ease-in-out;
}

#overlay-button {
  position: absolute;
  left: 1em;
  padding-top: 0.2em;
  padding: 1.5em 0;
  z-index: 5;
  span {
      @include button-span;
      position: relative;
      &:before {
        top: -10px;
        visibility: visible;
      }
      &:after {
        top: 10px;
      }
      &:before, &:after {
          @include button-span;
          position: absolute;
          left: 0;
          content: "";
      }
    }
    &:hover span, &:hover span:before, &:hover span:after {
      //background: #333332;
    }
}

#overlay-button.active {
  &:hover span, span{
    background: transparent;
  }
  span {
    &:before {
      transform: rotate(45deg) translate(7px, 7px);
      opacity: 1;
    }
    &:after {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  }
}

#overlay {
  height: 100vh;
  width: 100vw;
  background: $colour-accent;
  opacity: 0;
  z-index: 2;
  visibility: hidden;
  position: fixed;
  transition: opacity 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  &.active {
    visibility: visible;
    opacity: 1;
  }
  #overlay-ul {
    border-top: 0.2em solid;
    border-bottom: 0.2em solid;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 0;
    list-style-type: none;
    h3 {
      font-size: 1.8em;
      border-bottom: 0.2em solid $colour-text-dark;
    }
    li {
      padding: 1em;
      a {
        position: relative;
        color: white;
        text-decoration: none;
        font-size: $font-size-h2;
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          bottom: -5px;
          left: 1px;
          border-bottom: 0.1em solid $colour-bg-dark;
          transform: scale(0, 1);
          transition: transform 0.2s;
        }
        &:hover:before {
          transform: scale(1);
        }
      }
    }
  }
}
