#content404 {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

#content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  max-width: 55em; }
  #content #title {
    padding-top: 8em;
    padding-bottom: 2em; }
    #content #title #logo {
      width: 3em;
      height: 3em;
      padding-right: 1em; }
    #content #title span, #content #title span * {
      display: inline-block; }
  #content .container {
    padding-top: 2em;
    padding-bottom: 2em;
    animation-duration: 1s;
    animation-name: slidein; }

@keyframes slidein {
  from {
    margin-top: 6em;
    opacity: 0; }
  to {
    margin-top: 0;
    opacity: 1; } }

h1 {
  font-size: 3.5em;
  font-weight: 800;
  margin: 0.5em 0 0.5em 0;
  line-height: 1.2em; }
  h1:after {
    display: flex;
    content: '';
    background: #b893ff;
    width: 4em;
    height: 2em;
    margin-top: -1.75em;
    margin-left: -0.4em; }

h2 {
  font-size: 1.95em;
  font-weight: 400;
  color: #555; }

h3 {
  font-size: 1.95em;
  font-weight: 700; }

h4 {
  font-size: 1.6em;
  font-weight: 700; }

p {
  font-size: 1.2em;
  color: #555;
  line-height: 1.5em; }
  p span {
    color: #777; }

.text_link {
  text-decoration: none;
  z-index: 0;
  color: #8264ff;
  font-weight: 700;
  backface-visibility: hidden;
  letter-spacing: 0.02em;
  cursor: pointer;
  position: relative;
  display: inline-block; }
  .text_link:hover {
    color: #fefefe; }
  .text_link:before {
    content: "";
    pointer-events: none;
    position: absolute;
    width: 110%;
    left: -5%;
    height: 2px;
    bottom: -4px;
    border-bottom: 1.6em solid #8264ff;
    transform: translateY(0.15em);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    z-index: -1;
    backface-visibility: hidden; }
  .text_link:hover:before {
    transform: translateY(-0.16em);
    opacity: 1; }

.projects .projects_grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 4em;
  padding: 2em 0 2em 0; }

.inline-icon {
  height: 1em; }

.project .project_browser:hover .browser_container {
  transform: scale(0.9); }

.project .browser_container {
  transition: transform 0.3s ease-in-out; }

.project #manytwitch {
  background: #ffd473; }

.project #interiors {
  background: #9193ff; }

.project #korean {
  background: #7d82fb; }

.project #worldgen {
  background: #97d272; }

.project #snake {
  background: #c1d0a2; }

.project #css_loaders {
  background: #e65649; }

.project .project_browser {
  display: block;
  padding: 1em;
  box-sizing: border-box; }
  .project .project_browser .browser_nav {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-left: 0.5em;
    padding-top: 0.4em;
    width: 100%;
    height: 1.5em;
    background: #e9e9e9; }
    .project .project_browser .browser_nav .browser_dot {
      width: 0.75em;
      height: 0.75em;
      border-radius: 1em;
      margin-left: 0.25em;
      margin-right: 0.25em;
      background: #d6d4d4; }
    .project .project_browser .browser_nav .browser_dot--red {
      width: 0.75em;
      height: 0.75em;
      border-radius: 1em;
      margin-left: 0.25em;
      margin-right: 0.25em;
      background: #e7969f; }
  .project .project_browser .project_image {
    display: block;
    position: relative;
    width: 100%; }

.project .project_info .project_title {
  margin: 1em 0 0.2em 0; }

.project .project_info .project_desc {
  margin: 0.5em 0 1em 0; }

@media screen and (max-width: 45em) {
  html body main #content {
    padding-left: 1em;
    padding-right: 1em; }
    html body main #content .content__text, html body main #content .project__text {
      font-size: 1.15em; }
  html body main #content #title {
    padding-top: 4em; }
    html body main #content #title h2 {
      font-size: 1.6575em; }
  html body main .projects .projects_grid {
    grid-template-columns: repeat(1, 1fr); } }

html {
  height: 100%;
  box-sizing: border-box;
  margin: 0; }

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  background: #fefefe;
  color: #222;
  max-width: 100%; }

main {
  height: 100%;
  width: 100%; }

::-moz-selection {
  background: #b893ff; }

::selection {
  background: #b893ff; }
