#content404 {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

#subtitle {
  font-weight: 500; }
  #subtitle a {
    font-weight: 600; }

@media screen and (max-width: 50em) {
  html body .nav__content {
    padding-left: 1em;
    padding-right: 1em; }
    html body .nav__content .nav__title {
      font-size: 1.5em; }
    html body .nav__content .nav__links a {
      padding-left: 1em; }
  html body .text--large {
    font-size: 1.48em; }
  html body .text--medium {
    font-size: 1.05em; }
  html body .text--small {
    font-size: 1.0625em; }
  html body main .intro {
    width: 100%;
    margin-bottom: 0; }
    html body main .intro h1 {
      font-size: 1.47em; }
  html body main #content {
    padding-left: 1em;
    padding-right: 1em; }
  html body main .container {
    padding: 1em 0; }
  html body main .projects .grid {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4em; }
  html body main .grid--2-1 {
    grid-template-columns: repeat(1, 1fr); }
  html body main .about .about__content {
    grid-row: 2; }
  html body main .about .side-project__content {
    grid-row: 1; }
  html body main .grid-item--col-1-3, html body main .grid-item--col-2-3 {
    grid-column: initial; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  max-width: 70em; }

.container {
  animation-duration: 1s;
  animation-name: slidein;
  padding: 2em 0; }

.experience {
  padding: 1em 0; }
  .experience .heading {
    margin-top: 0;
    margin-bottom: 0; }
  .experience .sub-heading {
    margin-top: 0;
    margin-bottom: 0;
    color: #505050;
    font-weight: 600; }
  .experience p {
    margin-top: 0.5em; }

.intro {
  margin-top: 22vh;
  margin-bottom: 5em; }
  .intro h1 {
    font-weight: 400;
    font-size: 2.1em; }
  .intro a {
    font-weight: 600;
    color: #9981FF; }

.side-project__content {
  display: flex;
  flex-direction: column; }
  .side-project__content a {
    margin: 0.15em 0; }

.footer {
  display: flex;
  flex-wrap: wrap; }
  .footer a {
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.5em;
    padding: 0.6em 1em 0.6em 0; }
    .footer a:not(:last-of-type) {
      margin-right: 0.75em; }

.grid--2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2em;
  column-gap: 2em; }

.grid--3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2em;
  column-gap: 2em; }

.grid-item--col-2-3 {
  grid-column: 2 / 4; }

.grid-item--col-1-3 {
  grid-column: 1 / 4; }

.grid--2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 2.75em;
  column-gap: 2em; }

.projects h3 {
  padding-top: 1em; }

.project {
  cursor: pointer; }
  .project .project__image-container {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden; }
    .project .project__image-container .project__image {
      display: block;
      width: 100%;
      transition: transform 0.3s ease-in-out; }
  .project .project__info .project__title {
    display: block;
    margin: 0.5em 0 0 0;
    font-weight: 700;
    color: #020202; }
  .project .project__info .project__desc {
    margin: 0.5em 0;
    font-weight: 400; }
  .project:hover .project__image {
    transform: scale(1.075); }

.text--large {
  font-size: 1.85em; }

.text--medium {
  font-size: 1.5em; }

.text--small {
  font-size: 1.25em; }

h3 {
  font-weight: 600; }

p {
  color: #343434; }

a {
  text-decoration: none;
  cursor: pointer;
  color: initial; }
  a:visited {
    text-decoration: none;
    color: #020202; }
  a:hover {
    text-decoration: underline;
    color: #020202; }

.link {
  color: #9981FF;
  font-weight: 500; }
  .link:visited {
    color: #9981FF; }
  .link:hover {
    text-decoration: underline;
    color: #9981FF; }

.nav__title {
  font-weight: 800;
  text-transform: uppercase;
  margin: 0; }

nav {
  width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background: rgba(254, 254, 254, 0.95);
  z-index: 20; }
  nav .nav__content {
    max-width: 70em;
    padding: 1.25em 2em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end; }
    nav .nav__content .nav__links {
      font-weight: 800;
      padding-bottom: 0.2em; }
      nav .nav__content .nav__links a {
        padding-left: 1.5em; }
        nav .nav__content .nav__links a.active {
          color: #9981FF;
          text-decoration: underline; }
        nav .nav__content .nav__links a:hover {
          color: #9981FF; }

html {
  height: 100%;
  box-sizing: border-box;
  margin: 0; }

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #fefefe;
  color: #020202;
  max-width: 100%; }

main {
  height: 100%;
  width: 100%; }

h3 {
  font-weight: 700; }

::-moz-selection {
  background: #d6d6d6; }

::selection {
  background: #d6d6d6; }
