$colour-accent: #db4c3f;
$colour-bg: #fefefe;
$colour-text-primary: #555;
$colour-text-secondary: #999;
$colour-button-text: white;
$fontsize-text-primary: 1.2em;

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  background: $colour-bg;
  color: $colour-text-primary;
  text-align: center;
  display: flex;
  justify-content: center;
  main {
    max-width: 60em;
    padding: 2em 0;
    h1, h2, h3, p {
      font-weight: 300;
    }
    p {
      text-align: left;
      font-size: $fontsize-text-primary;
      font-weight: 400;
    }
    h1, h3, h4 {
      color: $colour-accent;
      margin: 0.1em;
      letter-spacing: 0.04em;
      text-transform: uppercase;
    }
    h1 {
      font-size: 4em;
      font-weight: 700;
    }
    h2 {
      font-size: 1.8em;
      margin: 0.1em;
      font-weight: 600;
    }
    h3 {
      font-size: 2em;
      font-weight: 700;
    }
    h4 {
      font-size: 1.4em;
      font-weight: 600;
      color: $colour-text-primary;
    }
    pre {
      text-align: left;
    }
    a {
      color: $colour-accent;
      text-decoration: none;
      cursor: pointer;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
    section {
      padding: 2.5em;
    }
    #content {
      padding: 0;
    }
  }
}

#intro {
  a:hover {
    text-decoration: none;
  }
  h2 {
    color: $colour-text-secondary;
  }
}

#skills {
  #skills-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    width: 50%;
    padding-left: 10%;
    li {
      padding: 0;
      width: 50%;
      list-style: none;
      p {
        font-size: $fontsize-text-primary;
        width: 100%;
        text-align: left;
        span {
          color: $colour-text-secondary;
        }
      }
    }
  }
}

#projects {
  p {
    margin-bottom: 0;
  }
  #projects-list {
    padding: 0;
    flex-wrap: wrap;
    display: flex;
    article {
      text-align: left;
      margin-top: 3em;
      margin-bottom: 1em;
      margin-right: 2%;
      width: 48%;
      .main-info {
        padding: 0;
        flex: 1 1 auto;
        width: 100%;
        margin-top: 2em;
        h2 {
          text-decoration: underline;
          margin: 0;
        }
        a {
          //background: $colour-accent;
          border: 2px solid $colour-accent;
          letter-spacing: 0.1em;
          //color: $colour-button-text;
          color: $colour-accent;
          text-transform: uppercase;
          padding: 1em;
          display: inline-block;
          margin-top: 1em;
          font-weight: 800;
          font-size: 1em;
          transition: all 0.25s;
          &:hover {
            text-decoration: none;
            background-color: $colour-accent;
            color: white;
          }
        }
      }
      .img-container {
        display: block;
        width: 100%;
        height: 15em;
        overflow: hidden;
        &:hover > img {
          transform: scale(1.1);
        }
        //height: 100%;
        img {
          width: 100%;
          height: 100%;
          transition: transform 1s;
          //height: 100%;
        }
      }
    }
  }
}

#contact {
  p {
    text-align: center;
  }
}

#posts-list {
  padding-left: 0;
  h4 {
    text-align: left;
  }
  li {
    padding-top: 1em;
    list-style: none;
    font-size: $fontsize-text-primary;
    text-align: left;
    span {
      text-decoration: underline;
    }
    a {
      font-weight: bold;
    }
  }
}

#post {
  svg {
    position: relative;
    top: 0.2em;
  }
  #meta {
    text-align: left;
    padding-left: 0;
    p, li {
      display: inline-block;
      list-style: none;
      font-weight: 600;
    }
    li {
      background: $colour-accent;
      color: $colour-button-text;
      padding: 0.2em 0.4em;
    }
  }
}

footer {
  color: $colour-button-text;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  ul {
    padding-left: 0;
    li {
        display: inline-block;
        list-style: none;
      a {
        color: $colour-button-text;
        padding: 0.5em 1em;
        margin-left: 0.1em;
        margin-right: 0.1em;
        font-weight: 600;
        background: $colour-accent;
      }
    }
  }
}

@media screen and (max-width: 64em) {
  html body main {
      #skills #skills-container {
        padding: 0;
      }
      #projects #projects-list article {
        //flex-wrap: wrap;
        //margin: 2em 0;
        width: 100%;
        margin-right: 0;
        .img-container {
          height: initial;
          img {
            height: initial;
          }
        }
      }
  }
}

@media screen and (max-width: 48em) {
  html body main {
      section {
        padding: 2em;
      }
      #intro h1 {
        font-size: 2.5em;
      }
      h2 {
        font-size: 1.8em;
      }
      p {
        font-size: 1.1em;
      }
      #skills #skills-container {
        width: 100%;
        li {
          width: 35%;
        }
        p {
          margin: 0.5em 0;
          }
      }
      #post {
        li {
          font-size: 1.1em;
        }
      }
      #projects #projects-list {
        article {
        //flex-wrap: wrap;
        //margin: 2em 0;
        width: 100%;
        margin-right: 0;
        &:first-child {
          margin-top: 1em;
        }
        }
        .img-container {
          //width: 100%;
          //height: 100%;
        }
        img {
          margin-top: 1em;
        }
      }
  }
}

@media screen and (max-width: 32em) {
  html body main {
      #skills #skills-container {
        li {
          width: 75%;
        }
        p {
          width: 100%;
        }
      }
  }
}

@media screen and (max-width: 24em) {
  html body main #intro {
      h1 {
        font-size: 2.2em;
      }
      h2 {
        font-size: 1.5em;
      }
  }
}
