
.intro {
  @include flex-container;
  background: $accent-colour;
  width: 100%;
  min-height: 80vh;
  color: $text-colour-light;
  position: relative;
}

.intro__content {
  @include flex-container;
  @include content-container;
  justify-content: flex-start;
  .intro__title {
    font-size: $intro__title-font-size;
    font-weight: 700;
    width: 100%;
    margin-bottom: 0.5em;
  }
  .intro__heading {
    font-size: $intro__heading-font-size;
    font-weight: 500;
    width: 75%;
  }
}

.about {
  @include flex-container;
  background: $bg-colour;
  width: 100%;
  color: $text-colour-dark;
  position: relative;
}

.about__content {
  @include flex-container;
  @include content-container;
  justify-content: flex-start;
}

.contact {
  @include flex-container;
  background: $bg-colour;
  width: 100%;
  color: $text-colour-dark;
  position: relative;
}

.contact__content {
  @include flex-container;
  @include content-container;
  justify-content: flex-start;
}

.content__heading {
  font-size: $content__heading-font-size;
  font-weight: $content__heading-font-weight;
}

.content__text {
  font-size: $content__text-font-size;
  font-weight: $content__text-font-weight;
}

.content__link {
  color: $accent-colour;
  text-decoration: none;
  backface-visibility: hidden;
  position: relative;
  display: inline-block;
  font-weight: 700;
  line-height: 1.5em;
  &:visited {
    color: $accent-colour;
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -0px;
    height: 2px;
    left: 0;
    background: $accent-colour;
    transform: scaleX(0);
    transition: transform 0.18s;
  }
  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}
