@import 'variables.scss';

#content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  max-width: $content-width;
}

.container {
  animation-duration: 1s;
  animation-name: slidein;
  padding: 2em 0;
}

.experience {
  padding: 1em 0;
  .heading {
    margin-top: 0;
    margin-bottom: 0;
  }
  .sub-heading {
    margin-top: 0;
    margin-bottom: 0;
    color: $lighter-text-colour;
    font-weight: $semi-bold-weight;
  }
  p {
    margin-top: 0.5em;
  }
}

.intro {
  margin-top: 22vh;
  margin-bottom: 5em;
  h1 {
    font-weight: $regular-weight;
    font-size: $xl-size;
  }
  a {
    font-weight: $semi-bold-weight;
    color: $accent-colour;
  }
}

.side-project__content {
  display: flex;
  flex-direction: column;
  a {
    margin: 0.15em 0;
  }
}