@import 'variables.scss';

.footer {
  display: flex;
  flex-wrap: wrap;
  background: #111827;
  justify-content: flex-start;
  div {
    padding: 1.5em 2em 2em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 70em;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
  }
  a {
    font-size: $s-size;
    font-weight: $semi-bold-weight;
    line-height: 1.5em;
    color: rgba(255, 255, 255, 0.9);
    &:visited {
      color: rgba(255, 255, 255, 0.9);
    }
    &:hover {
      color: #9f8cff;
    }
  }
}