@import 'variables.scss';

.footer {
  display: flex;
  flex-wrap: wrap;
  a {
    font-size: $s-size;
    line-height: 1.5em;
    padding: 0.6em 1em 0.6em 0;
  }
  a:not(:last-of-type) {
    margin-right: 1.5em;
  }
}