@import 'variables.scss';

.grid--2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3.75em;
  column-gap: 2.75em;
}
.grid--2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 2.75em;
  column-gap: 2.75em;
}