@import 'variables.scss';

@media screen and (max-width: 50em) {
  html body {
    .nav__content {
      padding-left: 1em;
      padding-right: 1em;
      .nav__title {
        font-size: 1.5em;
      }
      .nav__links {
        a {
          padding-left: 1em;
        }
      }
    }
    main {
      .intro {
        width: 100%;
      }
      #content {
        padding-left: 1em;
        padding-right: 1em;
      }
      .container {
        padding: 2em 0;
      }
      .projects {
        .grid {
          grid-template-columns: repeat(1, 1fr);
          row-gap: 4em;
        }
      }
      .grid--2-1 {
        grid-template-columns: repeat(1, 1fr);
      }
      .about {
        .about__content {
          grid-row: 2;
        }
        .side-project__content {
          grid-row: 1;
        }
      }
    }
  }
}
