@import 'variables.scss';

@media screen and (max-width: 50em) {
  html body {
    .nav__content {
      padding-left: 1em;
      padding-right: 1em;
      .nav__title {
        font-size: 1.5em;
      }
      .nav__links {
        a {
          padding-left: 1em;
        }
      }
    }
    .text--large {
      font-size: 24px;
    }
    
    .text--medium {
      font-size: 20px;
    }
    
    .text--small, .text--medium.sub-heading {
      font-size: 16px;
    }
    main {
      .intro {
        margin-bottom: 0;
        padding: 0 1em !important;
        h1 {
          font-size: 26px;
          padding: 0
        }
      }
      #content {
        padding-left: 1em;
        padding-right: 1em;
      }
      .container {
        padding: 1em 0;
      }
      .projects {
        .grid {
          grid-template-columns: repeat(1, 1fr);
          row-gap: 4em;
        }
      }
      .grid--2-1 {
        grid-template-columns: repeat(1, 1fr);
      }
      .about {
        grid-template-columns: 1fr;
        .about__content {
          grid-row: 2;
        }
        .side-project__content {
          grid-row: 1;
        }
      }
      .grid-item--col-1-3, .grid-item--col-2-4, .grid-item--col-2-3 {
        grid-column: initial;
      }
    }
  }
}
