@import 'variables.scss';

.projects {
  h3 {
    padding-top: 1em;
  }
}

.project {
  cursor: pointer;
  .project__image-container {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    .project__image {
      display: block;
      width: 100%;
      transition: transform 0.3s ease-in-out;
    }
  }
  .project__info {
    .project__title {
      display: block;
      margin: 0.5em 0 0 0;
      font-weight: $bold-weight;
      color: $dark-text-colour;
    }
    .project__desc {
      margin: 0.5em 0;
      font-weight: $regular-weight;
    }
  }
  &:hover .project__image {
    transform: scale(1.075);
  }
}
