.manytwitch {
  @include flex-container;
  background: $manytwitch-colour;
  width: 100%;
  color: $text-colour-light;
  position: relative;
}

.manytwitch__project {
  @include project;
}

.korean {
  @include flex-container;
  background: $korean-colour;
  width: 100%;
  color: $text-colour-light;
  position: relative;
}

.korean__project {
  @include project;
}

.project__details {

}

.project__images {

}

.project__heading {
  font-size: $content__heading-font-size;
  font-weight: $content__heading-font-weight;
  width: 100%;
  margin-bottom: 0.1em;
}

.project__subheading {
  margin-top: 0.1em;
  opacity: 0.85;
  font-size: $project__subheading-font-size;
  font-weight: $project__subheading-font-weight;
}

.project__text {
  font-size: $content__text-font-size;
  font-weight: $content__text-font-weight;
}

.project__link {
  text-decoration: none;
  backface-visibility: hidden;
  position: relative;
  display: inline-block;
  font-size: $project__link-font-size;
  font-weight: $project__link-font-weight;
  line-height: 1.5em;
  color: $text-colour-light;
  margin-top: 1em;
  &:visited {
    color: $text-colour-light;
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -0px;
    height: 2px;
    left: 0;
    background: $text-colour-light;
    transition: transform 0.18s;
  }
  &:hover {
    opacity: 0.85;
  }
  &:hover &:before {
    opacity: 0.85;
  }
}
