$bg-colour: #fefefe;
$text-colour-light: #fefefe;
$text-colour-dark: #222;
$text-colour-grey: #444;
$text-colour-lightgrey: #777;
$accent-colour: #8264ff;
$accent-light-colour: #9981ff;
$selection-colour: #d6d6d6;

$xl-size: 3.5em;
$l-size: 1.7em;
$m-size: 1.6em;
$s-size: 1.1em;
$xs-size: 1em;