$bg-colour: #fefefe;
$nav-colour: rgba(254, 254, 254, 0.95);
$dark-text-colour: #020202;
$light-text-colour: #343434;
$lighter-text-colour: #505050;
$accent-colour: #9981FF;
$selection-colour: #d6d6d6;

$xl-size: 2.1em;
$l-size: 1.85em;
$m-size: 1.5em;
$s-size: 1.25em;

$extra-bold-weight: 800;
$bold-weight: 700;
$semi-bold-weight: 600;
$medium-weight: 500;
$regular-weight: 400;

$content-width: 70em;