$red: #de4e40;
$dark-grey: #2c3035;
$white: #fff;

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
  background-color: $red;
  margin: 0;
  color: $white;
  font-size: 16px;
}

h1 {
  font-size: 500%;
  font-weight: bold;
  color: $white;
  letter-spacing: 4px;
  margin: 0;
}

h2 {
  font-size: 140%;
  font-weight: 400;
  color: $white;
  letter-spacing: 1px;
}

h3 {
  font-size: 120%;
  font-weight: 300;
  color: $white;
}

a {
  color: $red;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}

button {
   background:transparent;
   padding: 14px 24px;
   border:2px solid $white;
   margin-top: 8px;
   color: white;
   font-size: 130%;
   font-weight: 600;
   letter-spacing: 0.5px;
   transition: all 0.3s;
   cursor: pointer;
   margin: 0 auto;
   &:hover {
     background-color: $red;
     border: 2px solid  $red;
     color: $white;
   }
}

.container {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

.intro {
  background-color: $dark-grey;
  height: 100vh;
  width: 100%;
  .container {
    margin: 0 auto;
    max-width: 700px;
    padding-top: 30vh;
    h1 {
      margin-bottom: 20px;
    }
    .contact {
      margin-top: 10vh;
    }
  }
}

.skills {
  background-color: $red;
  height: 100vh;
  width: 100%;
  .container {
    margin: 0 auto;
    max-width: 800px;
    padding-top: 60px;
    h2 {
      font-size: 200%;
      text-decoration: underline;
    }
  }
}

.projects {
  background-color: $dark-grey;
  height: 100vh;
  width: 100%;
}

.outro {
  background-color: $red;
  height: 100vh;
  width: 100%;
}

.bar {
  width: 60%;
  height: 6px;
  background: $red;
  display: block;
  margin: 0 auto;
}

.down {
  position: absolute;
  bottom: 2%;
  margin-left: -60px;
  width: 80px;
  .arrow {
    width: 32px;
  }
}

#toskills {
  width: 120px;
  text-decoration: none;
}

#toprojects {
  position: absolute;
  bottom: -98%;
  margin-left: -45px;
}

#tooutro {
  position: absolute;
  bottom: -200%;
  margin-left: -45px;
}

@media(max-width:60em){body{font-size: 80%}}


@media screen and (max-width: 750px) {
  .intro .container {
    max-width: 600px;
    padding: 20px;
    padding-top: 10vh;
  }
}

/*

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  .intro .container {
    width: 700px;
    padding-top: 20vh;
  }
}
*/
