---
layout: about
art:
  - /img/art/cube.png
  - /img/art/cubePyramid.png
  - /img/art/hollowCube.png
  - /img/art/torus.png
---

<section id="about" class="section-light">
  <section class="content-container">
    <h3>About</h3>
    <p>I’m currently in my first year at the University of Portsmouth studying computer science where I’m learning
    new tech and continuing to advance my existing skills.</p>
    <p>In my spare time I’m continuing to develop my main project <a href="{{ site.manytwitch }}" data-proofer-ignore>ManyTwitch</a>, while also creating new pens on
    my <a href="{{ site.codepen }}" data-proofer-ignore>Codepen</a> weekly. The source code for all my projects can be found on <a href="{{ site.github }}" data-proofer-ignore>GitHub</a>, you can also connect with
    me on <a href="{{ site.linkedin }}" data-proofer-ignore>LinkedIn</a>.</p>
    <p>You can contact me at <a href="{{ site.email-url }}">daniel_hearn@outlook.com</a>.</p>
  </section>
</section>


<section id="skills" class="section-dark">
  <section class="content-container">
    <h3>Skills</h3>
    <h4 class="align-center">Years Experience</h4>
    <section id="skills-container">
      <ul id="timeline">
        <li>0</li>
        <li id="year1" class="timeline-marker">|</li>
        <li id="year2" class="timeline-marker">|</li>
        <li>3</li>
      </ul>
      <ul id="skills-list">
        <li>
          <span class="skill">HTML5</span>
          <span class="experience years-2"></span>
        </li>
        <li>
          <span class="skill">CSS3, SASS</span>
          <span class="experience years-2"></span>
        </li>
        <li>
          <span class="skill">Javascript</span>
          <span class="experience years-1"></span>
        </li>
        <li>
          <span class="skill">Git</span>
          <span class="experience years-1"></span>
        </li>
        <li>
          <span class="skill">Photoshop</span>
          <span class="experience years-full"></span>
        </li>
        <li>
          <span class="skill">Python 3</span>
          <span class="experience years-1"></span>
        </li>
        <li>
          <span class="skill">AngularJS</span>
          <span class="experience years-0_5"></span>
        </li>
        <li>
          <span class="skill">Java</span>
          <span class="experience years-0_5"></span>
        </li>
        <li>
          <span class="skill">MYSQL</span>
          <span class="experience years-0_5"></span>
        </li>
      </ul>
    </section>
  </section>
</section>

<section id="projects" class="section-light">
  <section class="content-container">
    <h3>Projects</h3>
    <p>These are the larger projects I have developed, to view my smaller projects and code experiments visit my <a href="{{ site.codepen }}">codepen</a>.</p>
    <section id="projects-list">
  		{% for project in site.projects %}
  			{% if project.type != null %}
  			<article>
  				<a href="{{ project.link }}" class="img-container"><img src="{{ project.imgs[0] }}" alt="Image of the manytwitch website."></a>
  				<section class="main-info">
  					<h2>{{ project.title }}</h2>
  					<p>{{ project.description }}</p>
  					<a class="border-button" href="{{ project.link }}">View {{ project.type }}</a>
  					{% if project.design-post != null %}
  					<a class="border-button" href="{{ project.design-post }}" data-proofer-ignore>About Project</a>
  					{% endif %}
  				</section>
  			</article>
  			{% endif %}
  		{% endfor %}
  	</section>
  </section>
</section>

<section id="art" class="section-dark">
  <section class="content-container">
    <h3>Art</h3>
    <p>I’m also learning digital art within Photoshop and modelling within Blender and 3ds Max.</p>
  </section>
  <section id="slider-container" class="light-slider">
    <section id="slider">
      <div class="carousel" data-flickity='{ "wrapAround": true, "imagesLoaded": true }'>
        {% for img in page.art %}
          <div class="carousel-cell">
            <img class="carousel-cell-image" src="{{ img }}" alt="Image of art."/>
          </div>
        {% endfor %}
      </div>
    </section>
  </section>
</section>

<section id="blog" class="section-light">
  <section class="content-container">
  	<h3>Blog</h3>
  	<p>Below are the last three posts from my <a href="{{ site.blog }}">blog</a> where I write about various topics including front end web development, gaming, and digital art.</p>
		{% include blog-list-limit.html %}
  </section>
</section>

<section id="contact" class="section-dark">
  <section class="content-container">
    <h3>Contact</h3>
	  <p>Feel free to email me over at <a href="{{ site.email-url }}">daniel_hearn@outlook.com</a> about freelance work, jobs or just chat about front-end development. </p>
  </section>
</section>
