$orange: #e69045;
$dark-grey: #2c3035;
$light-grey: #494b4e;
$grey: #d5d5d0;
$white: #f5f5f5;

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
  background-color: $white;
  margin: 0;
  color: $white;
  font-size: 16px;
  text-align: center;
}

h1 {
  font-size: 500%;
  font-weight: bold;
  color: $white;
  letter-spacing: 4px;
  margin: 0;
}

h2 {
  font-size: 240%;
  font-weight: 300;
  color: $white;
  letter-spacing: 1px;
}

h3 {
  font-size: 130%;
  font-weight: 300;
  color: $white;
  margin-top: 20px;
  line-height: 30px;
}

a {
  color: $dark-grey;
  text-decoration: none;
  font-weight: 400;
  &:hover {
    text-decoration: underline;
  }
}

span {
  color: $dark-grey;
  font-weight: 400;
}

img {
  width: 32px;
  height: 32px;
}

button {
  background:transparent;
  border:2px solid $white;
  color: white;
  font-size: 140%;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  cursor: pointer;
  padding: 14px 24px;
  margin: 0 auto;
  margin-top: 20px;
  &:hover {
    background-color: $orange;
    border: 2px solid  $orange;
    color: $white;
  }
}

.contactbutton {
  background-color: $dark-grey;
  color: $white;
  border:2px solid $dark-grey;
  font-size: 120%;
  padding: 20px 28px;
  margin-top: 40px;
  margin-bottom: 40px;
  &:hover {
    background-color: $light-grey;
    border: 2px solid  $light-grey;
    color: $white;
  }
}

.container {
  padding: 80px 20px;
  margin: 0 auto;
  max-width: 800px;
}

.intro {
  background-color: $orange;
  width: 100%;
  .container {
    padding: 100px 20px;
    h1 {
      margin-bottom: 40px;
    }
    h2 {
      font-weight: 200;
    }
  }
}

.about {
  background-color: $white;
  color: $dark-grey;
  width: 100%;
  .container {
    max-width: 1000px;
    h2 {
      color: #333332;
      margin-bottom: 20px;
    }
    h3 {
      color: #676764;
    }
  }
}

.projects {
  background-color: $orange;
  width: 100%;
}

.contact {
  background-color: $dark-grey;
  color: $white;
  width: 100%;
  .container {
    h2 {
      color: $white;
      margin-bottom: 20px;
    }
    h3 {
      color: $white;
    }
    a {
      color: $white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.bar {
  width: 100%;
  height: 2px;
  background: $grey;
  display: block;
  margin: 30px 0;
}

.icon {
  padding: 8px 16px;
  position: relative;
  top: 6px;
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 40px 20px;
  }
  .intro .container {
    max-width: 700px;
  }
  .about .container {
    max-width: 700px;
  }
  body {
    font-size: 90%;
  }
  img {
    width: 28px;
    height: 28px;
  }
  h1 {
    font-size: 400%;
  }
}

@media screen and (max-width: 750px) {
  .intro .container {
    max-width: 600px;
    padding: 30px 20px;
  }
  .about .container {
    max-width: 600px;
  }
}

@media screen and (max-width: 350px) {
  .intro .container {
    padding: 20px 20px;
  }
}

@-ms-viewport{
  width: device-width;
}
