$orange: #ef6565;
$white: #fff;
$dark-grey: #34383e;

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
  background: linear-gradient(to bottom, #ef8b5c, #ef6565);
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $white;
  text-align: center;
  main {
      max-width: 650px;
      padding: 20px 20px;
      margin-top: 0;
      h1 {
        font-family: 'Raleway', sans-serif;
        font-size: 5em;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 10px 0;
      }
      h2 {
        font-size: 2em;
        font-weight: 300;
        margin: 8px 0;
        padding-bottom: 8px;
        padding-top: 8px;
        border-bottom: thick solid #ffffff;
        border-top: thick solid #ffffff;
      }
      p {
        margin: 20px 0;
        font-size: 1.2em;
        font-weight: 200;
      }
      #email {
        text-decoration: underline;
      }
      a {
        background-color: $white;
        border: none;
        border-radius: 0;
        color: $orange;
        font-family: arial;
        font-size: 1.2rem;
        padding: 19px 24px;
        transition: all 0.5s;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        box-shadow: inset 0 0 $dark-grey;
        &:hover {
          box-shadow: inset 0 -65px $dark-grey;
        }
        img {
          width: 32px;
          height: 32px;
          top: 12px;
          position: relative;
        }
      }
    footer {
      display: inline-block;
    }
    .btn-img {
      height: 60px;
      width: 70px;
      position: relative;
      top: -4px;
      padding: 0;
      display: inline-block;
    }
  }
}

@media screen and (max-width: 750px) {
  html body main {
    h1 {
      font-size: 3.6em;
    }
    h2 {
      font-size: 1.8em;
    }
  }
}




@media screen and (max-width: 450px) {
  html body main {
      h1 {
        font-size: 2.5em;
      }
      h2 {
        font-size: 1.6em;
      }
  }
}

@media screen and (max-width: 350px) {
  html body main {
      h1 {
        font-size: 2em;
      }
      h2 {
        font-size: 1.6em;
      }
      footer {
        display: block;
        margin-top: 0.5em;
      }
      .btn-img {
        top: 0;
      }
  }
}

@media screen and (min-width: 750px) {
    html body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
}
