$accent: #db4c3f;
$bg: #21222c;
$primary-text: #e9edf0;
$secondary-text: #c3c6c8;

@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  background: $bg;
  color: $primary-text;
  text-align: center;
  display: flex;
  justify-content: center;
  main {
    max-width: 60em;
    padding: 2em 0;
    h1, h2, p {
      font-weight: 300;
    }
    p {
      text-align: left;
      font-size: 1.1em;
    }
    h1 {
      color: $accent;
      font-size: 2em;
      margin: 0.1em;
      letter-spacing: 0.04em;
      text-transform: uppercase;
    }
    h2 {
      font-size: 1.8em;
      margin: 0.1em;
    }
    a {
      color: $accent;
      text-decoration: none;
      cursor: pointer;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
    section {
      padding: 1.5em;
    }
  }
}


#intro {
  h1 {
    font-size: 4em;
    margin: 0.1em;
  }
  h2 {
    margin-bottom: 1em;
  }
  /* OLD BUTTON STYLING
  #buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      background-color: $bg;
      border: solid 2px $primary-text;
      border-radius: 0;
      font-family: arial;
      font-size: 1.2rem;
      transition: all 0.5s;
      display: inline-block;
      cursor: pointer;
      text-decoration: none;
      height: 60px;
      width: 70px;
      position: relative;
      padding: 0;
      margin: 0 0.2em;
      &:hover {
        background: $accent;
        border: solid 2px $accent;
      }
      img {
        width: 32px;
        height: 32px;
        top: 20%;
        position: relative;
      }
    }
  }
  */
}

#skills {
  #skills-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    width: 75%;
    p {
      font-size: 1.3em;
      width: 50%;
      text-align: center;
      span {
        color: $secondary-text;
      }
    }
  }
}

#projects {
  p {
    margin-bottom: 1em;
  }
  #projects-list {
    padding: 0;
    flex-wrap: wrap;
    display: flex;
    article {
      text-align: left;
      //display: flex;
      //flex-wrap: nowrap;
      margin-top: 3em;
      margin-right: 2%;
      width: 48%;
      .main-info {
        padding: 0;
        flex: 1 1 auto;
        width: 100%;
        //padding-right: 0.5em;
        h2 {
          text-decoration: underline;
          margin: 0;
        }
        a {
          background: $accent;
          letter-spacing: 0.1em;
          color: $primary-text;
          padding: 1em;
          display: inline-block;
          margin-top: 0.5em;
          font-weight: 300;
        }
      }
      .img-container {
        display: block;
        width: 100%;
        overflow: hidden;
        &:hover > img {
          transform: scale(1.05);
        }
        //height: 100%;
        img {
          width: 100%;
          transition: transform 1s;
          //height: 100%;
        }
      }
    }
  }
}

#contact {
  p {
    text-align: center;
  }
}

@media screen and (max-width: 750px) {
  html body main {
      #intro h1 {
        font-size: 2.5em;
      }
      h2 {
        font-size: 1.8em;
      }
      p {
        font-size: 1.1em;
      }
      #skills #skills-container {
        p {
          margin: 0.5em 0;
          }
      }
      #projects #projects-list article {
        //flex-wrap: wrap;
        //margin: 2em 0;
        width: 100%;
        margin-right: 0;
        .img-container {
          //width: 100%;
          //height: 100%;
        }
        img {
          margin-top: 1em;
        }
      }
  }
}

@media screen and (max-width: 500px) {
  html body main {
      #skills #skills-container {
        p {
          width: 100%;
        }
      }
  }
}
