@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$bg-colours: #41a76c, #cd4436, #9e487f, #435a6b, #16a085, #4593e3;

@mixin linkStyle {
  backface-visibility: hidden;
  letter-spacing: 1px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 1.4em;
  position: relative;
  display: inline-block;
  margin-right: 0.6em;
  margin-left: 0.6em;
  font-weight: 300;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

nav {
  text-align: center;
  padding-top: 9em;
  padding-bottom: 9em;
}

#intro {
  margin-bottom: 4em;
  h1 {
    font-size: 2em;
    color: white;
    font-weight: 300;
  }
  h2 {
    font-size: 1.5em;
    color: white;
    font-weight: 300;
  }
  a {
    color: white;
    &:visited {
      color: white;
    }
  }
}


//Create nav class styles for each link type
@for $i from 1 to 6 {
  .nav#{$i} {
    background: nth($bg-colours, $i);
  }
}

.link1 {
  @include linkStyle;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -8px;
    left: -1px; //Fix aligning slightly
    border-bottom: 0.2em solid white;
    transform: scale(0,1);
    transition: transform 0.2s;
  }
  &:hover:before {
    transform: scale(1);
  }
}

.link2 {
  @include linkStyle;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -8px;
    border-bottom: 0.2em solid white;
    transform: translateY(-2px);
    opacity: 0;
    transition: all 0.2s;
  }
  &:hover:before {
    transform: translateY(2px) ;
    opacity: 1;
  }
}

.link3 {
  @include linkStyle;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -8px;
    border-bottom: 0.2em solid white;
    transform:  translateY(0.4em);
    opacity: 0;
    transition: all 0.2s;
  }
  &:hover:before {
    transform: translateY(0em) ;
    opacity: 1;
  }
}

.link4 {
  @include linkStyle;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -8px;
    border-bottom: 0.2em solid white;
    transform:  translateY(0.4em);
    opacity: 0;
    transition: all 0.2s;
  }
  &:hover:before {
    transform: translateY(0em) ;
    opacity: 1;
  }
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 1.3em;
    left: 0;
    border-bottom: 0.2em solid white;
    transform:  translateY(-0.4em);
    opacity: 0;
    transition: all 0.2s;
  }
  &:hover:after {
    transform: translateY(0em) ;
    opacity: 1;
  }
}

.link5 {
  @include linkStyle;
  z-index: 0;
  &:before {
    content: "";
    position: absolute;
    width: 120%;
    left: -10%;
    height: 2px;
    bottom: -8px;
    border-bottom: 1.6em solid #1b7b69;
    transform:  translateY(0.4em);
    opacity: 0;
    transition: all 0.2s;
    z-index: -1;
    backface-visibility: hidden;
  }
  &:hover:before {
    transform: translateY(-0.2em);
    opacity: 1;
  }
}
