//- includes/footer.pug
footer
  script.
    var scroll = new SmoothScroll('a[href*="#"]', {
      speed: 750, // Integer. How fast to complete the scroll in milliseconds
      offset: 0, // Integer or Function returning an integer. How far to offset the scrolling anchor location in pixels
      easing: 'easeInOutCubic', // Easing pattern to use
    });
