//- includes/footer.pug
footer
  script(src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js")
  script.
      let scrollActive = false;

      const setNavActiveEvents = () => {
        const navLinks = document.querySelectorAll('nav a')
        for (let i = 0, len = navLinks.length; i < len; i++) {
            const link = navLinks[i]
            link.addEventListener('click', function(e) {
              scrollActive = true;
              for (let j = 0, otherlen = navLinks.length; j < otherlen; j++) {
                const otherLink = navLinks[j]
                otherLink.classList.remove('active');
              }
              e.target.classList.add('active');
            })
        }
      }

      const navScroll = () => {
        if(scrollActive) {
          return false;
        }
        const workHeading = document.querySelector('#work');
        const aboutHeading = document.querySelector('#about');

        const workLink = document.querySelector('[href="#work"]');
        const aboutLink = document.querySelector('[href="#about"]');

        const workHeadingPos = workHeading.getBoundingClientRect();
        const aboutHeadingPos = aboutHeading.getBoundingClientRect();

        workLink.classList.remove('active');
        aboutLink.classList.remove('active');
        
        if(workHeadingPos.top < window.innerHeight && workHeadingPos.bottom >= 0) {
          workLink.classList.add('active');
          aboutLink.classList.remove('active');
        }
        
        if(aboutHeadingPos.top < window.innerHeight && aboutHeadingPos.bottom >= 0) {
          workLink.classList.remove('active');
          aboutLink.classList.add('active');
        }
      }

    const initialisePage = () => {
      const scroll = new SmoothScroll('a[href*="#"]', {
        speed: 600, // Integer. How fast to complete the scroll in milliseconds
        offset: 0, // Integer or Function returning an integer. How far to offset the scrolling anchor location in pixels
        easing: 'easeInOutCubic', // Easing pattern to use
      });

      window.addEventListener('scroll', navScroll); 
      document.addEventListener('scrollStop', () => {
        scrollActive = false;
      }, false);
      setNavActiveEvents();
    }

    document.addEventListener('DOMContentLoaded', initialisePage, false);

