//- includes/head.pug
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="description", content="Daniel Hearn, student interested in font-end web development and computer science student at the University of Portsmouth.")
  title Daniel Hearn

  link(rel="apple-touch-icon", sizes="180x180", href="favicons/apple-touch-icon.png")
  link(rel="icon", type="image/png", sizes="192x192", href="favicons/android-chrome-192x192.png")
  link(rel="icon", type="image/png", sizes="32x32", href="favicons/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="16x16", href="favicons/favicon-16x16.png")
  link(rel="apple-touch-icon", sizes="180x180", href="favicons/apple-touch-icon.png")
  link(rel="manifest", href="favicons/manifest.json")
  link(rel="mask-icon", href="favicons/safari-pinned-tab.svg", color="#5bbad5")
  meta(name="theme-color", content="#ffffff")

  link(rel="stylesheet", href="css/main.css")
    
  script(src="js/smooth-scroll.min.js")
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800", rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900", rel="stylesheet")
  // Global site tag (gtag.js) - Google Analytics
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-80868144-1")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-80868144-1');
