svg.border-bottom(width="100%", viewBox="19090 42 1024 90", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
  polygon.border-bottom(stroke="none", fill-rule="evenodd", points="20114 130 19090 43 19090 42 20114 42 20114 43")
