#content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  max-width: 70em; }

.container {
  animation-duration: 1s;
  animation-name: slidein;
  padding: 3.25em 0; }

.intro {
  margin-top: 22vh;
  width: 66%; }
  .intro h1 {
    font-weight: 400; }
  .intro a {
    font-weight: 600;
    color: #9981FF; }

.side-project__content {
  display: flex;
  flex-direction: column; }
  .side-project__content a {
    margin: 0.15em 0; }
