.nav__title {
  font-weight: 800;
  text-transform: uppercase;
  margin: 0; }

nav {
  width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background: rgba(254, 254, 254, 0.95);
  z-index: 20; }
  nav .nav__content {
    max-width: 70em;
    padding: 1.25em 2em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end; }
    nav .nav__content .nav__links {
      font-weight: 700; }
      nav .nav__content .nav__links a {
        padding-left: 1.5em; }
        nav .nav__content .nav__links a.active {
          color: #9981FF;
          text-decoration: underline; }
        nav .nav__content .nav__links a:hover {
          color: #9981FF; }
