<section id="contact">
	<h3>Contact Me</h3>
	<p>You can contact me at <a id="email" data-clipboard-text="daniel_hearn@outlook.com" onclick="emailAlert()"></a>, <span id="email-copy">click to copy.</span></p>
	<script>
		var parts = ["daniel_", "&#64", ".com", "outlook", "hearn"];
		var email = parts[0] + parts[4] + parts[1] + parts[3] + parts[2];
		var emailelement = document.getElementById("email");
		emailelement.innerHTML = email;
		function emailAlert(myMessage) {
				var copyAlert = document.getElementById("email-copy");
				copyAlert.innerHTML = "email copied!"
		}
	</script>
	<script>
		var emailBtns = document.querySelectorAll('.email')
		var clipboard = new Clipboard(emailBtns);
	</script>
</section>
