{% include overlay.html %}
<section id="intro" class="section-dark" >
  <a id="overlay-button" href="#" onclick="nav()" data-proofer-ignore><span></span></a>
  <div id="top">
    <div id="logo" class="fadeIn animated">
      <a href="/" id="dh">dh </a>
    </div>
  </div>
  <section id="main-page" class="content-container">
    <h1 id="bold-title" class="fadeInUp animated underline">{{ site.title }}</h1>
    <h1 id="catchphrase" class="fadeInUp animated">{{ site.catchphrase }}</h1>
  </section>
</section>
