::-moz-selection {
  background: #c8c5cc; }

::selection {
  background: #c8c5cc; }

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  background: #fefefe;
  color: #222;
  text-align: center;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0; }

section {
  max-width: 34em;
  padding: 1em;
  position: relative;
  user-select: none; }
  section h1 {
    font-size: 4em;
    font-weight: 700;
    text-shadow: 0.06em 0.06em 0 #bcb3e8;
    margin: 0; }
  section #title {
    animation-name: fadeInLeft, scaredMovement, scaredWobbleRight, fadeOut;
    animation-duration: 1s, 2.5s, 0.3s, 0.5s;
    animation-delay: 0s, 3s, 2.4s, 5.5s;
    animation-iteration-count: 1, 1, 8, 1;
    animation-fill-mode: forwards;
    position: relative;
    display: inline-block; }
  section span {
    content: "";
    position: absolute;
    padding: 0;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1em;
    background: #222;
    display: block;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out; }
  section #topBorder {
    animation-name: dropInTop, crushInTop;
    animation-duration: 1s, 0.75s;
    animation-delay: 1.2s, 5.2s;
    top: 0%; }
  section #bottomBorder {
    animation-name: dropInBottom, crushInBottom;
    animation-duration: 1s, 0.75s;
    animation-delay: 0.8s, 5.2s;
    top: 89%; }
  section #info {
    opacity: 0;
    position: absolute;
    padding: 0;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: popOut;
    animation-duration: 2s;
    animation-delay: 5.5s;
    animation-fill-mode: forwards; }
    section #info h1 {
      padding-bottom: 0.2em;
      font-size: 6em; }
    section #info h2 {
      font-family: 'Open Sans', sans-serif;
      padding-bottom: 15%;
      font-weight: 300; }
    section #info a {
      color: #6852CC;
      text-decoration: none;
      backface-visibility: hidden;
      position: relative;
      display: inline-block;
      font-weight: 600;
      line-height: 1.5em; }
      section #info a:visited {
        color: #6852CC; }
      section #info a:before {
        content: "";
        position: absolute;
        width: 100%;
        bottom: -0px;
        height: 2px;
        left: 0;
        background: #6852CC;
        transform: scaleX(0);
        transition: transform 0.18s; }
      section #info a:hover:before {
        visibility: visible;
        transform: scaleX(1); }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

@keyframes scaredMovement {
  0% {
    left: 0; }
  25% {
    left: 15%; }
  75% {
    left: -15%; }
  100% {
    left: 0; } }

@keyframes scaredWobbleRight {
  0% {
    transform: rotate(0deg); }
  33% {
    transform: rotate(1deg); }
  66% {
    transform: rotate(-1deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes dropInTop {
  from {
    opacity: 0;
    transform: translate3d(-50%, -100vh, 0); }
  to {
    opacity: 1;
    transform: translate3d(-50%, 0, 0); } }

@keyframes dropInBottom {
  from {
    opacity: 0;
    transform: translate3d(-50%, 100vh, 0); }
  to {
    opacity: 1;
    transform: translate3d(-50%, 0, 0); } }

@keyframes crushInBottom {
  from {
    transform: translate3d(-50%, 0, 0); }
  to {
    transform: translate3d(-50%, -50%, 0);
    top: 50%; } }

@keyframes crushInTop {
  from {
    transform: translate3d(-50%, 0, 0); }
  to {
    transform: translate3d(-50%, -50%, 0);
    top: 50%; } }

@keyframes popOut {
  from {
    opacity: 0;
    display: none; }
  to {
    opacity: 1;
    display: block; } }

@keyframes fadeOut {
  from {
    display: block;
    transform: scaleY(1); }
  to {
    display: none;
    transform: scaleY(0); } }

@media screen and (max-width: 35em) {
  #title {
    font-size: 3.2em; } }

@media screen and (max-width: 25em) {
  #title {
    font-size: 2.52em; } }

@media screen and (max-width: 15em) {
  #title {
    font-size: 2em; } }
