//- 404.pug
doctype html
html
  include includes/head.pug
  body
    section#content404
      section#container404
        h1#title 404
        h2#subtitle
          | Dan not found, check 
          a.text_link(href="/") here
