//- 404.pug
doctype html
html
  include includes/head.pug
  body
    section#content404
      section#container404
        h1#title.text--large 404
        h2#subtitle.text--medium
          | Dan not found, 
          a.link(href="/") check here
