//- index.pug
doctype html
html
  include includes/head.pug
  body
    main
      section#content
        section#title.container
          h1 Daniel Hearn
            h2 Computer Science student at the University of portsmouth #[img.inline-icon( src="/img/computer.svg")]
        section#about.container
          h3 I experiment with the web
          p
            | I experiment with code on 
            a.text_link(href="https://codepen.io/danhearn/") Codepen
            | , the source code for all my projects can be found on 
            a.text_link(href="https://github.com/DanielHearn") Github
            |  as well as their designs on 
            a.text_link(href="https://www.behance.net/Danielhearn") Behance
            |  and 
            a.text_link(href="https://dribbble.com/danhearn") Dribble
            | . 
          p
            | I'm proficient in HTML5 (Pug) and CSS3 (SCSS), working to improve my Javascript (ES6, ES7), using AngularJS and Vue frameworks to build web apps
            | and using Experience Design, Photoshop, Gulp, and Git to enhance my workflow. 
          p.content__text
            | I have experience with Django, Node, I can also code in Python
            | and Java, and database with MYSQL.
        section#projects.container
          h3#projects_title Check out my projects
          p Here is a selection of my best open-source, personal, and commercial projects.
          section#projects_grid
            section.project
              a.project_browser#manytwitch(href="http://danielhearn.co.uk/manytwitch") 
                div.browser_nav
                  div.browser__dot--red
                  div.browser__dot
                  div.browser__dot
                img.project_image(src="img/manytwitch.png")
              div.project_info
                h4.project_title Manytwitch
                p.project_desc #[span Open Source - ] Multiple twitch stream viewer made with Angular JS.
                p
                  a.text_link(href="http://danielhearn.co.uk/manytwitch") View Project
            section.project
              a.project_browser#interiors(href="https://interiorsofaylesbury.com") 
                div.browser_nav
                  div.browser__dot--red
                  div.browser__dot
                  div.browser__dot
                img.project_image(src="img/interiors.png")
              div.project_info
                h4.project_title Interiors of Aylesbury
                p.project_desc #[span Commercial Client - ] Custom Wordpress theme developed for Interiors of Aylesbury.
                p
                  a.text_link(href="https://interiorsofaylesbury.com") View Project
            section.project
              a.project_browser#korean(href="http://thekoreanhandbook.com/") 
                div.browser_nav
                  div.browser__dot--red
                  div.browser__dot
                  div.browser__dot
                img.project_image(src="img/korean.png")
              div.project_info
                h4.project_title Korean Handbook
                p.project_desc #[span Open Source - ] Web app providing various tools and information teaching the Korean language.
                p
                  a.text_link(href="http://thekoreanhandbook.com/") View Project
          section#contact.container
            h3 Feel free to contact me
            p While im not currently open for freelance projects, feel free to #[a.text_link(href="mailto:dan@danielhearn.co.uk") email] about web development. My CV is also available on request.
