//- index.pug
doctype html
html
  include includes/head.pug
  body
    main
      section#content
        section#title
          h1 Daniel Hearn
          h2 Computer Science student Computer Science student at the university of portsmouth 💻
        section#about
          h3 I experiment with the web
          p
            | I experiment with code on 
            a(href="https://codepen.io/danhearn/") Codepen
            | , the source code for all my projects can be found on 
            a(href="https://github.com/DanielHearn") Github
            |  as well as their designs on 
            a(href="https://www.behance.net/Danielhearn") Behance
            |  and 
            a(href="https://dribbble.com/danhearn") Dribble
        section#projects
          h3 Check out my projects
          
