#content404 {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

#subtitle {
  font-weight: 500; }
  #subtitle a {
    font-weight: 600; }
