#content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  max-width: 60em; }
  #content #title {
    padding-top: 8em;
    padding-bottom: 2em; }
    #content #title #logo {
      width: 3em;
      height: 3em;
      padding-right: 1em; }
    #content #title span, #content #title span * {
      display: inline-block; }
  #content .container {
    padding-top: 1em;
    padding-bottom: 1em;
    animation-duration: 1s;
    animation-name: slidein; }

h1 {
  font-size: 3.5em;
  font-weight: 800;
  margin: 0.5em 0 0.5em 0;
  line-height: 1.2em; }
  h1:after {
    display: flex;
    content: '';
    background: #9981ff;
    max-width: 7em;
    height: 2em;
    margin-top: -1.75em;
    margin-left: -0.4em; }

h2 {
  font-size: 1.8em;
  font-weight: 400;
  color: #555; }

h3 {
  font-size: 1.8em;
  font-weight: 700; }

h4 {
  font-size: 1.6em;
  font-weight: 700; }

h5 {
  font-size: 1em;
  font-weight: 700; }

p {
  font-size: 1.1em;
  color: #555;
  line-height: 1.5em; }
  p span {
    color: #777; }

.uni {
  margin-bottom: 0.25em; }

.job {
  margin-top: 0.25em; }

.link_primary {
  color: #fefefe;
  background: #8264ff;
  padding: 0.25em 0.4em;
  transition: border-color 0.15s, background 0.15s; }
  .link_primary:hover {
    background: #9981ff; }

.link_secondary {
  text-decoration: none;
  z-index: 0;
  border-bottom: 3px solid #555;
  color: #555;
  font-weight: 700;
  letter-spacing: 0.02em;
  transition: border-color 0.15s, color 0.15s; }
  .link_secondary:hover {
    border-color: #8264ff;
    color: #8264ff; }

a {
  font-weight: 700;
  text-decoration: none;
  z-index: 0;
  backface-visibility: hidden;
  letter-spacing: 0.02em;
  cursor: pointer;
  position: relative;
  display: inline-block; }

.text_link {
  color: #8264ff; }
  .text_link:hover {
    color: #fefefe; }
  .text_link:before {
    content: "";
    pointer-events: none;
    position: absolute;
    width: 105%;
    left: -2.5%;
    height: 2px;
    bottom: -4px;
    border-bottom: 1.6em solid #8264ff;
    transform: translateY(0.15em);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    z-index: -1;
    backface-visibility: hidden; }
  .text_link:hover:before {
    transform: translateY(-0.1em);
    opacity: 1; }

.inline-icon {
  height: 1em; }

.footer {
  display: flex;
  margin-bottom: 1em; }
  .footer a {
    font-size: 1.1em;
    line-height: 1.5em; }
  .footer a:not(:last-of-type) {
    margin-right: 2em; }
