@media screen and (max-width: 50em) {
  html body main #content {
    padding-left: 1em;
    padding-right: 1em; }
    html body main #content .content__text, html body main #content .project__text {
      font-size: 1.15em; }
  html body main .container {
    padding: 1em 0; }
  html body main #content #title {
    padding-top: 4em; }
    html body main #content #title h2 {
      font-size: 1.445em; }
  html body main .projects .projects_grid {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4em; } }
