.project {
  cursor: pointer; }
  .project .project__image-container {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden; }
    .project .project__image-container .project__image {
      display: block;
      width: 100%;
      transition: transform 0.3s ease-in-out; }
  .project .project__info .project__title {
    display: block;
    margin: 0.5em 0 0 0;
    font-weight: 700; }
  .project .project__info .project__desc {
    margin: 0.5em 0;
    font-weight: 400; }
  .project:hover .project__image {
    transform: scale(1.075); }
