.text--large {
  font-size: 2em; }

.text--medium {
  font-size: 1.5em; }

.text--small {
  font-size: 1.25em; }

h3 {
  font-weight: 700; }

p {
  color: rgba(2, 2, 2, 0.8); }

a {
  text-decoration: none;
  cursor: pointer;
  color: initial; }
  a:visited {
    text-decoration: none;
    color: #020202; }
  a:hover {
    text-decoration: underline;
    color: #020202; }

.link {
  color: #9981FF;
  font-weight: 500; }
  .link:visited {
    color: #9981FF; }
  .link:hover {
    text-decoration: underline;
    color: #9981FF; }
