{% include overlay.html %}
<section id="intro" class="section-dark" >
  <a id="overlay-button" href="#" onclick="nav()" data-proofer-ignore><span></span></a>
  <div id="top">
    <div id="logo" class="fadeIn animated">
      <a href="/" id="dh">dh </a>
      {% if page.sub-dir != null %}
        <span>/</span>
        <a href="/{{ page.sub-dir }}" id="sub-dir">
          {{ page.sub-dir }}
        </a>
      {% endif %}
    </div>
  </div>
  <section id="side-page" class="content-container">
    <h1 id="bold-title" class="fadeInUp animated underline">{{ page.title }}</h1>
  </section>
</section>
