$colour-bg: #fefefe;
$colour-dark: #222;
$colour-accent: #6852CC;
$colour-accent-light: #bcb3e8;
$colour-selection: #c8c5cc;

$font-size-h1: 4em;

::-moz-selection { background: $colour-selection; }
::selection { background: $colour-selection; }

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  background: $colour-bg;
  color: $colour-dark;
  text-align: center;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

section {
  max-width: 34em;
  padding: 1em;
  position: relative;
  user-select: none;
  h1 {
    font-size: $font-size-h1;
    font-weight: 700;
    text-shadow: 0.06em 0.06em 0 $colour-accent-light;
    margin: 0;
  }
  #title {
    animation-name: fadeInLeft, scaredMovement, scaredWobbleRight, fadeOut;
    animation-duration: 1s, 2.5s, 0.3s, 0.5s;
    animation-delay: 0s, 3s, 2.4s, 5.5s;
    animation-iteration-count: 1, 1, 8, 1;
    animation-fill-mode: forwards;
    position: relative;
    display: inline-block;
  }
  span {
    content: "";
    position: relative;
    width: 100%;
    height: 1em;
    background: $colour-dark;
    display: block;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  #topBorder {
    animation-name: dropInTop, crushInTop;
    animation-duration: 1s, 0.75s;
    animation-delay: 1.2s, 5.2s;
    bottom: 6.5em;
  }
  #bottomBorder {
    animation-name: dropInBottom, crushInBottom;
    animation-duration: 1s, 0.75s;
    animation-delay: 0.8s, 5.2s;
    bottom: 0.25em;
  }
  #info {
    opacity: 0;
    position: absolute;
    padding: 0;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: popOut;
    animation-duration: 2s;
    animation-delay: 5.5s;
    animation-fill-mode: forwards;
    h1 {
      padding-bottom: 0.4em;
      font-size: $font-size-h1*1.5;
    }
    h2 {
      font-family: 'Open Sans', sans-serif;
      padding-bottom: 20%;
      font-weight: 300;
    }
    a {
      color: $colour-accent;
      text-decoration: none;
      backface-visibility: hidden;
      position: relative;
      display: inline-block;
      font-weight: 600;
      line-height: 1.5em;
      &:visited {
        color: $colour-accent;
      }
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        bottom: -0px;
        height: 2px;
        left: 0;
        background: $colour-accent;
        transform: scaleX(0);
        transition: transform 0.18s;
      }
      &:hover:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}


@keyframes scaredMovement {
  0% {
    left: 0;
  }
  25% {
    left: 15%;
  }
  75% {
    left: -15%;
  }
  100% {
    left: 0;
  }
}

@keyframes scaredWobbleRight {
  0% {
      transform: rotate(0deg);
  }
  33% {
      transform: rotate(1deg);
  }
  66% {
      transform: rotate(-1deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

@keyframes dropInTop {
  from {
    opacity: 0;
    transform: translate3d(0, -100vh, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes dropInBottom {
  from {
    opacity: 0;
    transform: translate3d(0, 100vh, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes crushInBottom {
  from {
    transform: none;
  }
  to {
    bottom: 4em;
  }
}

@keyframes crushInTop {
  from {
    transform: none;
  }
  to {
    bottom: 3em;
  }
}

@keyframes popOut {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: block;
  }
}

@keyframes fadeOut {
  from {
    display: block;
    transform: scaleY(1);
  }
  to {
    display: none;
    transform: scaleY(0);
  }
}
