#content404 {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

#content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  max-width: 65em; }
  #content #title {
    padding-top: 8em;
    padding-bottom: 2em; }
    #content #title #logo {
      width: 3em;
      height: 3em;
      padding-right: 1em; }
    #content #title span, #content #title span * {
      display: inline-block; }

.container {
  padding: 1.5em 0;
  animation-duration: 1s;
  animation-name: slidein; }

h1 {
  font-size: 3.5em;
  font-weight: 800;
  margin: 0.5em 0 0.5em 0;
  line-height: 1.2em; }
  h1:after {
    display: flex;
    content: '';
    background: #9981ff;
    max-width: 7em;
    height: 2em;
    margin-top: -1.75em;
    margin-left: -0.4em; }

h2 {
  font-size: 1.6em;
  font-weight: 400;
  color: #444; }

h3 {
  font-size: 1.7em;
  font-weight: 700; }

h4 {
  font-size: 1.6em;
  font-weight: 700; }

h5 {
  font-size: 1em;
  font-weight: 700; }

p {
  font-size: 1.1em;
  color: #444;
  line-height: 1.5; }
  p span {
    color: #777; }

.uni {
  margin-bottom: 0.25em; }

.job {
  margin-top: 0.25em; }

.link_primary {
  color: #fefefe;
  background: #8264ff;
  padding: 0.5em 0.6em;
  transition: border-color 0.15s, background 0.15s; }
  .link_primary:hover {
    background: #9981ff; }

.link_secondary {
  text-decoration: none;
  z-index: 0;
  border-bottom: 2px solid #222;
  color: #222;
  font-weight: 600;
  letter-spacing: 0.02em;
  transition: border-color 0.15s, color 0.15s; }
  .link_secondary:hover {
    border-color: #8264ff;
    color: #8264ff; }

.link_tertiary {
  text-decoration: none;
  transition: color 0.15s;
  color: #222; }
  .link_tertiary:hover {
    color: #8264ff; }

a {
  font-weight: 600;
  text-decoration: none;
  z-index: 0;
  backface-visibility: hidden;
  letter-spacing: 0.02em;
  cursor: pointer;
  position: relative;
  display: inline-block;
  line-height: 1; }

.inline-icon {
  height: 1em; }

@media screen and (max-width: 50em) {
  html body main #content {
    padding-left: 1em;
    padding-right: 1em; }
    html body main #content .content__text, html body main #content .project__text {
      font-size: 1.15em; }
  html body main .container {
    padding: 1em 0; }
  html body main #content #title {
    padding-top: 4em; }
    html body main #content #title h2 {
      font-size: 1.445em; }
  html body main .projects .projects_grid {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4em; } }

@keyframes slidein {
  from {
    margin-top: 4em;
    opacity: 0; }
  to {
    margin-top: 0;
    opacity: 1; } }

.projects .projects_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4em;
  column-gap: 4em;
  padding: 1em 0; }

.project .project_image {
  display: block;
  padding: 1em;
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out; }

.project .project_background {
  margin-bottom: 1em; }
  .project .project_background:hover .project_image {
    transform: scale(0.9); }

.project .project_info .project_title {
  margin: 0; }

.project .project_info .project_desc {
  margin: 1em 0; }

.project .project_image {
  display: block;
  position: relative;
  width: 100%; }

.project .project_type {
  color: rgba(34, 34, 34, 0.6);
  margin: 0.5em 0;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-size: 1.1em; }

.project .project_links {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .project .project_links p {
    margin-top: 0; }
  .project .project_links p:not(:last-of-type) a {
    margin-right: 0.75em; }
  .project .project_links .github_link {
    padding: 0.25em 0.4em; }

.footer {
  display: flex;
  flex-wrap: wrap; }
  .footer a {
    font-size: 1.1em;
    line-height: 1.5em;
    padding: 0.6em 1em 0.6em 0; }
  .footer a:not(:last-of-type) {
    margin-right: 1.5em; }

html {
  height: 100%;
  box-sizing: border-box;
  margin: 0; }

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  background: #fefefe;
  color: #222;
  max-width: 100%; }

main {
  height: 100%;
  width: 100%; }

::-moz-selection {
  background: #d6d6d6; }

::selection {
  background: #d6d6d6; }
