@mixin flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin content-container {
  max-width: 50em;
  padding: $content-padding;
}

@mixin border-bottom($colour1, $colour2) {
  background-image: linear-gradient(0deg, $colour1 99%, $colour2 99%, $colour2 100%);
  .border-bottom {
    fill: $colour2;
  }
}

@mixin border-top($colour1, $colour2) {
  background-image: linear-gradient(0deg, $colour1 99%, $colour2 99%, $colour2 100%);
  .border-top {
    fill: $colour2;
  }
}

@mixin project {
  max-width: 50em;
  padding: 4em 2em;
  justify-content: flex-start;
}

@mixin browser-dot {
  width: 0.75em;
  height: 0.75em;
  border-radius: 1em;
  margin-left: 0.25em;
  margin-right: 0.25em;
}
