---
layout: post
---
{% assign project = site.projects | where: 'name', page.project %} {% assign project = project[0] %}

<section id="slider">
  <div class="bss-slides slideshow" tabindex="1" autofocus="autofocus">
    <figure>
      <img src="{{ project.img }}" alt="Image of {{ project.title }}"/>
    </figure>
    <figure>
      <img src="{{ project.img2 }}" alt="Image of {{ project.title }}"/>
    </figure>
    <figure>
      <img src="{{ project.img3 }}" alt="Image of {{ project.title }}"/>
    </figure>
  </div>
  <script src="https://leemark.github.io/better-simple-slideshow/demo/js/hammer.min.js"></script>
  <script src="/js/slideshow.js"></script>
</section>

<ul id="design-meta">
  <ul id="languages">
    <p>Development: </p>
    {% for development in project.development %}
      <li>{{ development }}</li>
    {% endfor %}
  </ul>
  <ul>
    <p>Tools: </p>
    {% for tool in project.tools %}
      <li>{{ tool }}</li>
    {% endfor %}
  </ul>
  <ul id="colours">
    <p>Colours: </p>
    {% for colour in project.colours %}
      <li><span style="background: #{{ colour }};"></span></li>
    {% endfor %}
  </ul>
</ul>

{{ content }}
