---
layout: default
---

<section id="post">
  <h2>{{ page.title }}</h2>
	{% if page.layout == post %}
  <ul id="meta">
    <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"><path d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"/></svg> {{ page.date | date_to_string }} |</p>
		{% for categories in page.categories limit:5 %}
    <li>{{ categories }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {{ content }}
</section>
