@import 'partials/variables.scss';
@import 'partials/mixins.scss';
@import 'partials/404.scss';
@import 'partials/media-queries.scss';
@import 'partials/keyframes.scss';
@import 'partials/content.scss';
@import 'partials/footer.scss';
@import 'partials/grid.scss';
@import 'partials/projects.scss';
@import 'partials/text.scss';
@import 'partials/nav.scss';

html {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: $bg-colour;
  color: $dark-text-colour;
  max-width: 100%;
}

main {
  height: 100%;
  width: 100%;
}

::-moz-selection { background: $selection-colour; }
::selection { background: $selection-colour; }
